*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  width: 100%;
  background-color: #e5e5e5;
  display: grid;
  place-items: center;
}
.first-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #ffffff;
  color: #000000;
}
.container {
  width: 100%;
  max-width: 1440px;
  background-color: #ffffff;
  color: #000000;
  padding: 0 120px;
  padding-bottom: 90px;
}

.h5 {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  color: #999999;
}

.span {
  font-family: "Libre Franklin", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 0.75rem;
  letter-spacing: 0.063rem;
  color: #000000;
}
/* NUMBER 1 */

.number1 {
  font-family: "Libre Franklin", sans-serif;
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 1fr auto;
  padding: 33px 120px;
  border-bottom: 1px solid #202020;
}
/* MOBILE */
@media (max-width: 600px) {
  .number1 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
  }
}

.number1__btn-one {
  display: flex;
  gap: 40px;
}
.btn1 {
  text-decoration: none;
  list-style: none;
  color: #000000;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

/* NUMBER 2 */

.number2 {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 3.75rem 0;
  gap: 3.125rem;
}

.n2-h5 {
  margin-bottom: 18px;
}
.n2-span {
  margin-top: 5px;
  margin-bottom: 18px;
}
.n2-h2 {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.625rem;
  text-transform: uppercase;
  margin-bottom: 1.688rem;
}
.n2-p {
  font-family: "Source Serif Pro", serif;
  width: 410px;
  font-weight: 400;
  font-size: 1px;
  line-height: 1.5px;
  margin-bottom: 1.75px;
}
/* PC */
@media (min-width: 1440px) {
  .number2 {
    grid-template-columns: 1fr 1fr;
  }
}

/* LAPTOP */
@media (min-width: 1024px) and (max-width: 1339px) {
  .number2 {
    grid-template-columns: 1fr;
  }
}

/* small LAPTOP */
@media (min-width: 769px) and (max-width: 1023px) {
  .number2 {
    grid-template-columns: 1fr;
  }
  .n2-h2 {
    font-size: 1rem;
    line-height: 1.625rem;
  }
}

/* TABLET */
@media (min-width: 577px) and (max-width: 768px) {
  .number2 {
    grid-template-columns: 1fr;
  }
  .n2-h2 {
    font-size: 1rem;
    line-height: 1.625rem;
  }
  .number2 img {
    display: none;
  }
}

/* MOBILE */
@media (max-width: 576px) {
  .number2 {
    grid-template-columns: 1fr;
  }
  .n2-h2 {
    font-size: 0.75rem;
    line-height: 1rem;
  }
  .number2 img {
    display: none;
  }
}

/* NUMBER 3 */

.number3 {
  display: grid;
  grid-template-columns: repeat(3, 387px);
  column-gap: 20px;
  row-gap: 50px;
}
.n3-h5 {
  margin-top: 24px;
  margin-bottom: 18px;
}
.n3-h3 {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.hr {
  margin-top: 90px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 90px;
}
/* PC */
@media (min-width: 1440px) {
  .number3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* LAPTOP */
@media (min-width: 1025px) and (max-width: 1339px) {
  .number3 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* small LAPTOP */
@media (min-width: 769px) and (max-width: 1024px) {
  .number3 {
    grid-template-columns: 1fr;
  }
}

/* TABLET */
@media (min-width: 577px) and (max-width: 768px) {
  .number3 {
    grid-template-columns: 1fr;
  }
}

/* MOBILE */
@media (max-width: 576px) {
  .number3 {
    grid-template-columns: 1fr;
  }
  .n3-h3 {
    font-size: 0.6rem;
    line-height: 0.75rem;
  }
}

/* NUMBER 4 */
.number4 {
  display: grid;
  grid-template-columns: repeat(4, 285px);
  column-gap: 1.25rem;
  row-gap: 3.125rem;
}
.n4-h5 {
  margin-bottom: 1.875rem;
}
.number4 img {
  width: 285px;
  height: 187px;
}
/* PC */
@media (min-width: 1440px) {
  .number4 {
    grid-template-columns: repeat(4, 1fr);
  }
}
/* LAPTOP */
@media (min-width: 1024px) and (max-width: 1339px) {
  .number4 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* small LAPTOP */
@media (min-width: 769px) and (max-width: 1023px) {
  .number4 {
    grid-template-columns: 1fr 1fr;
  }
}
/* TABLET */
@media (min-width: 577px) and (max-width: 768px) {
  .number4 {
    grid-template-columns: 1fr 1fr;
  }
  .n3-h3 {
    font-size: 0.6rem;
    line-height: 0.75rem;
  }
}
/* MOBILE */
@media (max-width: 576px) {
  .number4 {
    grid-template-columns: 1fr;
  }
  .n3-h3 {
    font-size: 0.6rem;
    line-height: 0.75rem;
  }
  /* .number4--img {
    max-width: 2px;
  } */
}
/* NUMBER 5 */

.number5 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn5 {
  width: 205px;
  height: 54px;
  border: 1px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-five {
  font-family: "Libre Franklin", sans-serif;
  text-decoration: none;
  color: #000000;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* NUMBER 5 */

.number6 {
  display: grid;
  grid-template-columns: repeat(2, 590px);
  column-gap: 20px;
  row-gap: 50px;
}
.n4-h5 {
  margin-bottom: 30px;
}
.n6-h2 {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 24px;
  margin-bottom: 15px;
}
/* PC */
@media (min-width: 1440px) {
  .number6 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* LAPTOP */
@media (min-width: 1024px) and (max-width: 1339px) {
  .number6 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* small LAPTOP */
@media (min-width: 769px) and (max-width: 1023px) {
  .number6 {
    grid-template-columns: 1fr;
  }
}
/* TABLET */
@media (min-width: 577px) and (max-width: 768px) {
  .number6 {
    grid-template-columns: 1fr;
  }
  .number6--img {
    max-width: 300px;
  }
}
/* MOBILE */
@media (max-width: 576px) {
  .number6 {
    grid-template-columns: 1fr;
  }
  .number6--img {
    max-width: 300px;
  }
}

/* NUMBER 7 */

.footer-container {
  width: 1440px;
  background-color: #141414;
  color: #ffffff;
  margin: 0 auto;
  padding: 0px 120px 95px 120px;
}

.number7 {
  display: grid;
  padding: 93px 0 0 0;
  gap: 15px;
  place-items: center;
}

.n7-p {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
}
.hr-7 {
  margin-top: 60px;
  margin-bottom: 60px;
  border: 1px solid #4d4d4d;
}

/* NUMBER 8 */
.number8 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
/* NUMBER 9 */

.number9 {
  width: 100%;

  margin-bottom: 70px;
}
.title9 {
  display: grid;
  grid-template-columns: repeat(4, 1fr) auto;
  grid-template-rows: repeat(2, 1fr);
}
.foot-h4{
  display: inline-block;  
}
input {
  padding: 18px 24px;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
}
.n9-btn {
  padding: 18px 24px;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  background-color: #000000;
}
.n9-one {
  display: flex;
  justify-content: space-between;
}
.n9-two {
  display: flex;
  justify-content: space-between;
}
.n9-btn {
  text-decoration: none;
  color: #ffffff;
}
.foot-h4 {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
/* NUMBER 10 */

.title10 {
  display: grid;
  grid-template-columns: repeat(3, 15%);
  column-gap: 3rem;
  row-gap: 1rem;
}
